.page[b-cbrtweonx0] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-cbrtweonx0] {
    flex: 1;
}

.sidebar[b-cbrtweonx0] {
    background-color: #F8F9FB !important;
    background-image: none !important;
    border-right: 1px solid #E2E8F0;
}

[data-bs-theme="dark"] .sidebar[b-cbrtweonx0] {
    background-color: #1E293B !important;
    background-image: none !important;
    border-right: 1px solid #334155;
}

@media (min-width: 641px) {
    .page[b-cbrtweonx0] {
        flex-direction: row;
    }

    .sidebar[b-cbrtweonx0] {
        width: 240px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
